{% extends "base.html" %} 
{% block content %} 
{% include 'nav.html' %}
<div class="container">
  <div class="row">
    <h1 class="heading-main blog">Add a Comment</h2>
      <div class="col-md-10 col-md-offset-1">
        <form id="new-post" method="post">
         <label>
          <div>Comment</div>
          <div class="error">{{error}}</div>
          <textarea name="content">{{content|e}}</textarea>
          </label>
          <input class="btn" type="submit">
        </form>
      </div>
    </div>
  </div>
{% endblock %}