<!--the template to be included in the post -->
<div class="comment">
    <div class="comment-content">
        {{c._render_text}}
    </div>
    <div class="comment-info">
     <p id="author">Posted by {{c.user}}
        {% if user == c.user %}
        <a class="comment-icon comment-fa" data-id="{{key}}">
        <i style="color:red" class="fa fa-times"></i>
        </a>
        <a class="comment-icon-edit comment-fa" href="/blog/{{key}}/editcomment" data-id="{{key}}">
        <i style="color:#0f9400;" class="fa fa-pencil-square"></i>
        </a>
        {% endif %}   
     </p>
    </div>
</div>
